<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunhao.courseschedulebackend.mapper.CoursesMapper">

    <!-- 自定义SQL查询，根据学期和周数获取课程 -->
    <select id="findCoursesByWeek" resultType="com.sunhao.courseschedulebackend.entity.vo.WeeklyCourseVO$CourseInfo">
        SELECT
            s.id AS scheduleId,
            c.name,
            c.teacher,
            s.location,
            c.color,
            s.day_of_week AS dayOfWeek,
            s.start_period AS startPeriod,
            s.end_period AS endPeriod
        FROM
            schedule_weeks sw
                JOIN
            schedules s ON sw.schedule_id = s.id
                JOIN
            courses c ON s.course_id = c.id
        WHERE
            c.semester_id = #{semesterId}
          AND
            sw.week_number = #{weekNumber}
        ORDER BY
            s.day_of_week, s.start_period
    </select>

    <!-- 根据学期ID、周数、星期几查询课程 -->
    <select id="findCoursesByDetails" resultType="com.sunhao.courseschedulebackend.entity.vo.WeeklyCourseVO$CourseInfo">
        SELECT
            s.id AS scheduleId,
            c.name,
            c.teacher,
            s.location,
            c.color,
            s.day_of_week AS dayOfWeek,
            s.start_period AS startPeriod,
            s.end_period AS endPeriod
        FROM
            schedule_weeks sw
                JOIN
            schedules s ON sw.schedule_id = s.id
                JOIN
            courses c ON s.course_id = c.id
        WHERE
            c.semester_id = #{semesterId}
          AND
            sw.week_number = #{weekNumber}
          AND
            s.day_of_week = #{dayOfWeek}
        ORDER BY
            s.start_period
    </select>

</mapper>
